:root {
  --primary-light: #f5f5f5;
  --primary-grey: #d2d7d3;
  --primary-black: #212529;
  --neon-green: #3bc20e;
  --neon-purple: #ab20fd;
  --primary-blue: #48abe0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL CSS */

body {
  min-height: 100vh;
  background: linear-gradient(270deg, #000000, #434343);
}

img {
  aspect-ratio: 1;
  object-fit: cover;
}

.card-img-sm {
  width: 100px;
  height: 100px;
}

.text-purple {
  color: var(--neon-purple);
}

.text-green {
  color: var(--neon-green);
}

/* BANNER */
.banner-border {
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
  stroke: var(--neon-green);
  z-index: -1;
}
