{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
     <!-- Standard Favicon for Most Browsers -->
     <link rel="icon" href="https://res.cloudinary.com/aliokeeffe/image/upload/v1659388756/favicon.ico" type="image/x-icon">

     <!-- Apple Touch Icon (iOS) -->
     <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/aliokeeffe/image/upload/v1659388756/apple-touch-icon_pkoove.png">
     
     <!-- Android Chrome Icons -->
     <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/barneslow/image/upload/v1698537711/sadw1ablntgimsixl2ez.png">
{% endblock %}