{% load static %}

<li class="row clearfix">
  <div class="icon-box col-md-2 col-4">
    <div
      class="h-100 d-flex justify-content-center align-items-center border border-dark rounded-3 bg-primary"
    >
      <i style="font-size: 4rem" class="fa-solid fa-trophy gold"></i>
    </div>
  </div>
  <div class="text-box col-md-10 col-8">
    <h5 class="m-b-0 text-capitalize">{{post.name}}</h5>
    <p>{{post.body | linebreaks}}</p>
    <label class="list-inline text-primary"> {{post.created_on}} </label> 
    {% if user.is_authenticated and user.id == post.name.id %}
    {% include "includes/modal.html" %}
    {% endif %} 
  </div>

</li>
