{% load static %}

<li class="row clearfix">
  <div class="icon-box col-md-2 col-4">
    <div
      class="h-100 d-flex justify-content-center align-items-center border border-dark rounded-3 bg-primary"
    >
      <i style="font-size: 4rem" class="fa-solid fa-trophy gold"></i>
    </div>
  </div>
  <div class="text-box col-md-10 col-8">
    <h5 class="m-b-0 text-capitalize">{{comment.name}}</h5>
    <p>{{comment.body | linebreaks}}</p>
    <label class="list-inline text-primary"> {{comment.created_on}} </label>
  </div>
</li>
