{% load static %}

<li class="row clearfix">
  <div class="col-md-2 col-4">
    <a class="user-icon" href="{% url 'profile' post.name.username %}">
      {% include 'includes/trophy.html' with level=post.name.profile.get_level%}
    </a>
  </div>
  <div class="text-box col-md-10 col-8 mb-3">
    <a
      href="{% url 'profile' post.name.username %}"
      class="h5 m-b-0 text-capitalize text-decoration-none"
      >{{post.name}}</a
    >
    {{post.body | linebreaks}}
    <label class="list-inline text-primary"> {{post.created_on}} </label>
    {% if user.is_authenticated and user.id == post.name.id %}
    <!-- Comment Delete Modal  -->
    {% include "includes/modal.html" %} {% endif %}
  </div>
  <hr>
</li>
