{% load static %}

<!-- Reusable Card For Pending Posts Renders -->

<article class="card mb-4 text-start fade-in position-relative border-green">
  <div class="position-absolute overlay text-white">
    <i class="fa-solid fa-clock h1"></i>
    <span class="m-2 fw-bolder">Pending Approval</span>
    <a href="{% url 'edit_post' slug=post.slug %}" class="btn btn-primary">
      <i class="fa-solid fa-pen-to-square"></i>
      Edit
    </a>
  </div>

  {% if "placeholder" in post.featured_image.url %}
  <img
    class="card-img-pending"
    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
    alt="Code Institutes placeholder article image"
  />
  {% else %}
  <img
    class="card-img-pending"
    src="{{ post.featured_image.url }}"
    alt="{{post.title}} 
              article image"
  />
  {% endif %}
  <div class="p-2">
    <h3 class="text-capitalize text-primary text-truncate">
      <strong>{{post.title}}</strong>
    </h3>
    <ul class="list-inline">
      <li class="list-inline-item">
        <small class="text-dark text-capitalize">
          <i class="fa-solid fa-sitemap text-purple"></i>
          {{ post.category }}</small
        >
      </li>
      <li class="list-inline-item">
        <small class="text-dark">
          <i class="fa-solid fa-thumbs-up text-primary"></i>
          {{ post.number_of_likes }}</small
        >
      </li>
      <li class="list-inline-item">
        <small class="text-muted">
          <i class="fas fa-calendar-alt text-end"></i>
          <time class="m-1" datetime="{{ post.created_on|date:"Y-m-d\TH:i:s" }}">
                          {{ post.created_on|date:"M d, Y" }}
          </time>
        </small>
      </li>
    </ul>
  </div>
</article>
