{% load static %}

<article class="card m-1 text-dark fade-in">
  {% if "placeholder" in post.featured_image.url %}
  <img
    class="card-img-top"
    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
    width="100%"
  />
  {% else %}
  <img class="card-img-top" src=" {{ post.featured_image.url }}" />
  {% endif %}
  <div class="card-body p-2">
    <h3 class="h5 mb-3">
      <strong class="text-uppercase"
        ><a class='text-decoration-none' href="{% url 'post-detail' slug=post.slug %}"
          >{{post.title}}</a
        ></strong
      >
    </h3>
    <ul class="list-inline mb-1">
      <li class="list-inline-item">
        <i class="fa-solid fa-user text-info"></i>
        <a href="{% url 'profile' post.author.username %}">
          <strong class="text-capitalize">{{post.author}}</strong>
        </a>
      </li>
      <li class="list-inline-item">
        <time class="m-1 text-muted">
          <i class="fas fa-calendar-alt"></i>
          {{ post.created_on|date:"M d, Y" }}
        </time>
      </li>
    </ul>
    <ul class="list-inline border-bottom mb-1">
      <li class="list-inline-item">
        <i class="fa-solid fa-sitemap text-purple"></i>
        <span class="text-capitalize">{{ post.category }}</span>
      </li>
      <li class="list-inline-item">
        <i class="fa-solid fa-thumbs-up text-primary"></i>
        {{ post.number_of_likes }}
      </li>
      <li class="list-inline-item">
        <i class="fa-solid fa-comments text-success"></i>
        {{ post.total_comments }}
      </li>
    </ul>

    <p class="mt-2">{{post.excerpt}}</p>
    <a
      href="{% url 'post-detail' slug=post.slug %}"
      class="btn btn-outline-primary"
      >Read More</a
    >
    {% if user.is_authenticated and user.id == post.author.id %}
    <a href="{% url 'edit_post' slug=post.slug %}" class="btn btn-primary"
      ><i class="fa-solid fa-pen-to-square"></i>Edit</a
    >
    {% endif %}
  </div>
</article>
