{% load static %}

 <!-- Reusable Preview Card For Post Renders -->

<article class="card m-1 text-dark fade-in text-center align-items-stretch">
  {% if "placeholder" in post.featured_image.url %}
  <img
    class="card-img-top"
    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
    alt="Code Institutes placeholder article image"
    >
  {% else %}
  <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{post.title}} 
  article image" >
  {% endif %}
  <div class="card-body p-2">
    <h3 class="h5 mb-3 card-title">
      <strong class="text-uppercase"
        ><a class='text-decoration-none' href="{% url 'post-detail' slug=post.slug %}"
          >{{post.title}}</a
        ></strong
      >
    </h3>
    <ul class="list-inline mb-1">
      <li class="list-inline-item">
        <i class="fa-solid fa-user text-danger"></i>
        <a href="{% url 'profile' post.author.username %}">
          <strong class="text-capitalize">{{post.author}}</strong>
        </a>
      </li>
      <li class="list-inline-item text-muted">
        <i class="fas fa-calendar-alt"></i>
        <time class="m-1" datetime="{{ post.created_on|date:"Y-m-d\TH:i:s" }}">
          {{ post.created_on|date:"M d, Y" }}
        </time>
      </li>
    </ul>
    <ul class="list-inline border-bottom mb-1">
      <li class="list-inline-item">
        <i class="fa-solid fa-sitemap text-purple"></i>
        <span class="text-capitalize">{{ post.category }}</span>
      </li>
      <li class="list-inline-item">
        <i class="fa-solid fa-thumbs-up text-primary"></i>
        {{ post.number_of_likes }}
      </li>
      <li class="list-inline-item">
        <i class="fa-solid fa-comments text-success"></i>
        {{ post.total_comments }}
      </li>
    </ul>

    <p class="mt-2 excerpt">{{post.excerpt}}</p>
  </div>
  <div class='mb-2'>
    <a
      href="{% url 'post-detail' slug=post.slug %}"
      class="btn btn-outline-primary"
      >Explore</a
    >
    {% if user.is_authenticated and user.id == post.author.id %}
    <a href="{% url 'edit_post' slug=post.slug %}" class="btn btn-primary"
      ><i class="fa-solid fa-pen-to-square"></i>Edit</a
    >
    {% endif %}
    </div>
</article>
