{% load static %}

<article class="card">
  <img
    src="{{ post.featured_image.url }}"
    class="card-img-top"
    aria-hidden="false"
  />
  <div class="card-body p-1">
    <h3 class="h4 mb-3">
      <strong class="text-uppercase"
        ><a href="#"
          >{{post.title}}</a
        ></strong
      >
    </h3>
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="fa-solid fa-user text-info"></i>
        <a href="#">
          <strong class="text-capitalize">{{post.author}}</strong>
        </a>
      </li>
      <li class="list-inline-item">
        <time class="m-2 text-muted">
          <i class="fas fa-calendar-alt"></i>
          {{ post.created_on|date:"M d, Y" }}
        </time>
      </li>
    </ul>
    <ul class="list-inline border-bottom">
      <li class="list-inline-item">
        <i class="fa-solid fa-thumbs-up text-primary"></i>
        {{ post.number_of_likes }}
      </li>
      <li class="list-inline-item">
        <i class="fa-solid fa-comments text-success"></i>
        {{ post.comment_count }}
      </li>
    </ul>

    <p class="mt-2">{{post.excerpt}}</p>
    <a
      href="#"
      class="btn btn-outline-primary"
      >Read More</a
    >
  </div>
</article>
