{% extends "base.html" %}
<!--  -->
{% block content %}

<div class="container pt-5 text-center">
  <h1 class="article-title">
    <strong>{{category.title}}</strong>
  </h1>
  <h2 class="mt-5 text-light border-bottom">
    <em>Uncover the latest {{category.title}} updates!</em>
  </h2>
  <div class="container pt-5">
    <div class="row p-3">
      {% for post in posts %}
      <div class="col-md-4 g-3 mt-3 mb-3">
        {% include "includes/single-post.html" %}
      </div>

      {% endfor %}
    </div>
  </div>
  
</div>

{%endblock%}
