{% extends "base.html" %}
<!--  -->
{% block content %}

<div class="container pt-5 text-center">
  <h1 class="article-title">
    <strong class='text-uppercase text-green'>{{category.title}}</strong>
  </h1>
  <h2 class="mt-5 text-light border-bottom">
    <em>Uncover the latest {{category.title}} updates!</em>
  </h2>
  <div class="container pt-5">
    <div class="row p-3">
      {% for post in posts %}
      <div class="col-md-4 g-3 mt-3 mb-3">
        {% include "includes/post-preview.html" %}
      </div>

      {% endfor %}
    </div>
    
    <!-- Page Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a href="?page=1" class="page-link">&laquo; First</a>
          </li>
          <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
              >&lt; Previous</a
            >
          </li>
          {% endif %}
  
          <!-- Display individual page numbers -->
          {% for page_num in page_obj.paginator.page_range %}
          <li
            class="page-item{% if page_num == page_obj.number %} active{% endif %}"
          >
            <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
          </li>
          {% endfor %} {% if page_obj.has_next %}
          <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link"
              >Next &gt;</a
            >
          </li>
          <li class="page-item">
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"
              >Last &raquo;</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
  </div>
</div>

{%endblock%}
