{% extends "base.html" %}

{% block title %}Code Of Conduct{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class='display-2 fw-bolder'>
                <strong class='text-uppercase text-green'>
                    Code of Conduct
                </strong>
              </h1>           
              <ul class="list-group">
                <li class="list-group-item h4">
                    <i class="fas fa-check"></i> Be respectful to others.
                </li>
                <li class="list-group-item h4">
                    <i class="fas fa-check"></i> Do not post offensive or harmful content.
                </li>
                <li class="list-group-item h4">
                    <i class="fas fa-check"></i> Avoid using derogatory language.
                </li>
                <li class="list-group-item h4">
                    <i class="fas fa-check"></i> Do not engage in personal attacks.
                </li>
                <li class="list-group-item h4">
                    <i class="fas fa-check"></i> Respect intellectual property rights.
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock  %}
