{% extends "base.html" %}
<!--  -->
{% block content %}
<!--  -->

<div class="pt-3 text-center">


  <h1 class="heading mb-2 text-light">
    What Would You <br>
    Like To Read Today?
  </h1>

  <!-- Add widget navigation -->
  {% include "includes/widgets.html" %}


  <div class="row pt-md-5">
    <section class="col-lg-4 mb-5">
      <h2 class="bg-green rounded-3 text-black text-uppercase fw-bolder">
        <strong><em>Editors Pick</em></strong>
      </h2>
      {% for post in editors_pick %} 
       <!-- Render Editors Pick Post Card -->
      {% include "includes/post-preview.html" %}
      {% endfor %}
    </section>

    <section class="col-lg-4 mb-5">
      <h2 class="bg-green rounded-3 text-black text-uppercase fw-bolder">
        <strong><em>Trending Posts</em></strong>
      </h2>
      {% for post in trending_posts %} 
       <!-- Render Trending Post Cards -->
      {% include "includes/post-snippet.html" %}
      {% endfor %}
    </section>


    <section class="col-lg-4 mb-5">
      <h2 class="bg-green rounded-3 text-black text-uppercase fw-bolder">
        <strong><em>Popular Post</em></strong>
      </h2>
      {% for post in popular_post %} 
      <!-- Render Popular Post Card -->
      {% include "includes/post-preview.html" %}
      {% endfor %}
    </section>
  </div>
</div>

{%endblock%}
