{% extends 'base.html' %} 

{% block title %}{{post.title}}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row clearfix">
  <div id="main-post" class="col-lg-8 col-md-12 left-box">
    <!-- Main Post Section -->
    <article class="card single_post">
      <div class="body p-3">
        <div class="img-post border rounded">
          {% if "placeholder" in post.featured_image.url %}
          <img
            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
            class="img-fluid"
            alt="Code Institutes placeholder article image">
          {% else %}
          <img class="img-fluid" src="{{ post.featured_image.url }}"  alt="{{post.title}} article image">
          {% endif %}
        </div>
        <p
          class="tag bg-purple p-1 text-uppercase fw-bold text-light"
        >
          {{post.category}}
        </p>

        <h1 class='fw-bolder'>{{post.title}}</h1>
        <time class="m-1 text-secondary text-decoration-underline" datetime="{{ post.created_on|date:"Y-m-d\TH:i:s" }}">
          {{post.created_on}}             
        </time>

        <!-- Article Information -->
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-center align-items-center gap-1">
              {% include 'includes/trophy.html' with level=post.author.profile.get_level %}
                <a href="{% url 'profile' post.author.username %}"
                  ><strong class='text-capitalize'>{{post.author}}</strong>
                </a>
          </div>

           <!-- Edit Button If Auth -->
          <div class="d-flex align-items-center justify-content-center gap-2">
            {% if user.is_authenticated and user.id == post.author.id %}
            <a href="{% url 'edit_post' slug=post.slug %}" class="btn btn-primary"
              ><i class="fa-solid fa-pen-to-square"></i>Edit</a
            >
            {% endif %}
      
            <!-- Toggle Like Button -->

            <strong class="h3 m-0">
              {% if user.is_authenticated %}
              <form
                class="d-inline"
                action="{% url 'post_like' post.slug %}"
                method="POST"
              >
                {% csrf_token %} {% if liked %}
                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                  style="border: none; background: transparent"
                  aria-label="Like This Article"

                >
                  <i class="fa-solid fa-thumbs-up text-primary"></i>
                </button>
                {% else %}
                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like text-primary"
                  style="border: none; background: transparent"
                  aria-label="Unlike This Article"

                >
                  <i class="fa-regular fa-thumbs-up"></i>
                </button>
                {% endif %}
              </form>

              {% else %}
              <a style="text-decoration: none;" href="{% url 'account_login' %}" aria-label="Link to the login page">
                <i class="far fa-heart text-secondary"></i>
              </a>
              {% endif %}
              <!-- The number of likes goes before the closing strong tag -->
              <span class="text-secondary">{{ post.number_of_likes }}</span>
            </strong>
          </div>
        </div>
        <hr >
        <!-- Post Content -->
        <div class="mt-2 mb-2">{{ post.content | safe }}</div>
      </div>
    </article>


    <section id="comments" class="card p-3 mt-3">
      <div class="header">
        <h2>
          <strong>
            <i class="fas fa-comments text-success"></i>
            {{ comments.count }}
          </strong>
        </h2>
      </div>
      <hr >
      <div class="body">
        <ul class="comment-reply list-unstyled">
          {% for post in comments %}
          <!-- Render All Comments  -->
          {% include "includes/comment.html" %}
          {% endfor %}
        </ul>
      </div>
    </section>

    <!-- Add Comment Form -->
    <section id="add-comment" class="card p-3 mt-3 mb-3">
      {% if user.is_authenticated %}
      <h2>Like what you read? Leave a comment!</h2>
      <hr>
      <div class="card-body p-1">

        <p>Posting as: {{ user.username }}</p>
        <form method="post">

          {{ comment_form | crispy }} 
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
      </div>
        {% else %}
        <h2>Login to leave a comment</h2>
        <a class="btn btn-primary" href="{% url 'account_login' %}">Login</a>
        <hr>
        {% endif %}
    </section>
  </div>


 <!-- Popular Post Section -->
  <section id="popular-posts" class="col-lg-4 col-md-12">
        <h2 class="text-uppercase bg-green rounded-3 text-black text-center border-success fw-bolder">Popular {{ post.category }}</h2>
        <div class="row">
          <div class="col-lg-12">
            {% for post in top_related_posts %}
             <!-- Render All Popular Posts -->
            {% include "includes/post-preview.html" %}
            {% endfor %}
          </div>
        </div>
  </section>
</div>

{% endblock content %}
