{% extends 'base.html' %}

{% block title %}CoolCoders | {{profile.username}}{% endblock %}

{% block content %}

 <!-- User Profile Information -->

<section id="about" class="p-lg-4">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            {% include 'includes/trophy.html' with level=profile.profile.get_level %}
            <div class="mt-3">
              <h1 class="text-capitalize">{{profile.username}}</h1>
                {% include 'includes/level.html' with level=profile.profile.get_level %}
              <p class="text-secondary mb-1">
                Joined: {{profile.date_joined|date:"F d, Y" }}
              </p>
              <p class="text-secondary mb-1">
                Last Online: {{profile.last_login|date:"F d, Y" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">First Name</p>
            </div>
            <div class="col-sm-9 text-secondary text-capitalize">
              {{profile.first_name}}
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Last Name</p>
            </div>
            <div class="col-sm-9 text-secondary text-capitalize">
              {{profile.last_name}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9 text-secondary">{{profile.email}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Bio</p>
            </div>
            <div class="col-sm-9 text-secondary">{{profile.profile.bio}}</div>
          </div>
          <hr>

           <!-- Edit btn if User is Auth -->

          {% if user.is_authenticated and user.id == profile.id %}

          <div class="row">
            <div class="col-sm-12">
              <a
                class="btn-lg btn-primary text-decoration-none"
                href="{% url 'update_profile' %}"
                ><i class="fa-solid fa-gears"></i>Settings</a
              >
            </div>
          </div>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- User Statistics -->

<section id="statistics">
  <div class="card p-2">
    <div class="row">
      <div class="col-6 col-lg-3 text-center">
        <h2>{{ total_posts }}</h2>
        <p class="m-0px font-w-600">
          <i class="fa-solid fa-file-lines text-warning"></i> Posts
        </p>
      </div>

      <div class="col-6 col-lg-3 text-center">
        <h2>{{ total_comments }}</h2>
        <p class="m-0px font-w-600">
          <i class="fa-solid fa-comments text-success"></i> Comments
        </p>
      </div>

      <div class="col-6 col-lg-3 text-center">
        <h2>{{ total_likes }}</h2>
        <p class="m-0px font-w-600">
          <i class="fa-solid fa-thumbs-up text-primary"></i> Likes
        </p>
      </div>

      <div class="col-6 col-lg-3 text-center">
        <h2>{{ favourites|length }}</h2>
        <p class="m-0px font-w-600">
          <i class="fa-solid fa-heart text-danger"></i> Favourites
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Pending Posts Section -->
{% if user.is_authenticated and user.id == profile.id and pending_posts|length != 0 %}
<section id="pending-posts" class="text-center">
  <div class="row p-3">

  <h2 class='text-green fw-bolder display-6'>
    <strong class='text-uppercase text-green'>Pending Posts</strong>
  </h2>
  {% for post in pending_posts %}
  <div class="col-lg-3 col-md-6 g-1 mt-3 mb-3 d-flex">
    {% include "includes/pending-post.html" %}
  </div>
  </div>
{% endfor %}
</section>

{% endif%}

<!-- User Posts Section -->
<section id="user-posts" class="text-center">
  <div class="row p-3">
    <h2 class='text-green fw-bolder display-6'>
      <strong class='text-uppercase text-green'> {{profile.username}}'s Posts</strong>
    </h2>

    {% if posts_page|length == 0 %}
    <div class='text-center text-white'>

      <i class="fa-solid fa-face-sad-tear h1 text-white"></i>
      <h3 class='text-capitalize'>No Posts</h3>


      {% if user.is_authenticated and user.id == profile.id %}

      <p>Add a post to contribute to the community!</p>
      <a href="{% url 'add-post'  %}" class="btn btn-success">
        <i class="fa-solid fa-pen-to-square"></i>
        Add a Post
      </a> 
      {% endif %}
 
  </div>
    {% endif %}

      {% for post in posts_page %}
          <div class="col-lg-3 col-md-6 g-1 mt-3 mb-3 d-flex">
              {% include "includes/post-preview.html" %}
          </div>
      {% endfor %}

  </div>
  <!-- Pagination controls for user posts -->
  {% if posts_page.has_other_pages %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if posts_page.has_previous %}
      <li class="page-item">
        <a href="?posts_page=1" class="page-link">&laquo; First</a>
      </li>
      <li class="page-item">
        <a href="?posts_page={{ posts_page.previous_page_number }}" class="page-link"
          >&lt; Previous</a
        >
      </li>
      {% endif %}

      <!-- Display individual page numbers -->
      {% for page_num in posts_page.paginator.page_range %}
      <li
        class="page-item{% if page_num == posts_page.number %} active{% endif %}"
      >
        <a href="?posts_page={{ page_num }}" class="page-link">{{ page_num }}</a>
      </li>
      {% endfor %} {% if posts_page.has_next %}
      <li class="page-item">
        <a href="?posts_page={{ posts_page.next_page_number }}" class="page-link"
          >Next &gt;</a
        >
      </li>
      <li class="page-item">
        <a href="?posts_page={{ posts_page.paginator.num_pages }}" class="page-link"
          >Last &raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</section>

<!-- User Favourites Section -->

<section id="favourites" class="text-center">
  <div class="row p-3">
    <h2 class='text-green fw-bolder display-6'>
      <strong class='text-uppercase text-green'> {{profile.username}}'s Favourites</strong>
    </h2>

   
    {% if favourites_page|length == 0 %}
    <div class='text-center text-white'>

      <i class="fa-solid fa-face-sad-tear h1 text-white"></i>
      <h3 class='text-capitalize'>No Favourites</h3>


      {% if user.is_authenticated and user.id == profile.id %}

      <p>Mark your favourite articles and always have them here</p>
      <a href="{% url 'home'  %}" class="btn btn-success">
        <i class="fa-solid fa-heart"></i>
        Add Favourites
      </a> 
      {% endif %}
 
  </div>
    {% endif %}

      {% for post in favourites_page %}
          <div class="col-lg-3 col-md-6 g-1 mt-3 mb-3 d-flex">
              {% include "includes/post-preview.html" %}
          </div>
      {% endfor %}
  </div>
  <!-- Pagination controls for favorite posts -->
  {% if favourites_page.has_other_pages %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if favourites_page.has_previous %}
      <li class="page-item">
        <a href="?favourites_page=1" class="page-link">&laquo; First</a>
      </li>
      <li class="page-item">
        <a href="?favourites_page={{ favourites_page.previous_page_number }}" class="page-link"
          >&lt; Previous</a
        >
      </li>
      {% endif %}

      <!-- Display individual page numbers -->
      {% for page_num in favourites_page.paginator.page_range %}
      <li
        class="page-item{% if page_num == favourites_page.number %} active{% endif %}"
      >
        <a href="?favourites_page={{ page_num }}" class="page-link">{{ page_num }}</a>
      </li>
      {% endfor %} {% if favourites_page.has_next %}
      <li class="page-item">
        <a href="?favourites_page={{ favourites_page.next_page_number }}" class="page-link"
          >Next &gt;</a
        >
      </li>
      <li class="page-item">
        <a href="?favourites_page={{ favourites_page.paginator.num_pages }}" class="page-link"
          >Last &raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</section>
{% endblock content %}
